<ion-toolbar style="display: flex; justify-content: space-between">
  <ion-buttons slot="start">
    <ion-menu-button color="primary" menu="main-menu"></ion-menu-button>
  </ion-buttons>
  <ion-title style="text-align: center; margin-right: auto"></ion-title>
</ion-toolbar>
<body style="
    background-image: url(../../assets/fondo.jpeg);
    background-size: 100% 100%; /* Esto hará que la imagen se estire para llenar todo el elemento */
    background-repeat: no-repeat; /* Esto evitará que la imagen se repita */
; overflow: auto;filter: blur (8px);">
  <p style="text-align: center; margin-top: 20vh;"><strong>
      Bienvenido a la aplicación oficial de la Dirección Meteorológica de Chile (DMC), organismo responsable del que
      hacer
      meteorológico en el país.
      <br>
      <br>
      En esta aplicación, que es uno de los canales de difusión de la Dirección Meteorológica de Chile, encontrará la
      condición actual de las principales ciudades, pronóstico meteorológico a 5 días, pronóstico de pasos fronterizos
      de
      varias regiones, pronóstico de los principales centros turísticos, además de avisos, alertas y alarmas de eventos
      meteorológicos.
      <br>
      <br>
      Dirección Meteorológica de Chile - Av. Portales 3450, Estación Central - Santiago.
      <br>
      <br>
      OIRS Tel: (56 2) 2 436 4592
      Contacto: comunicacional_dmc&#64;meteochile.cl
    </strong>
  </p>
  <div style="text-align: center;">
    <a href="https://www.dgac.gob.cl/">
      <img style="width: 80px; margin-right: 10%;" id="logo" src="../../assets/icon/DGAC-logo.jpg" alt="logo" />
    </a>
    <a href="https://archivos.meteochile.gob.cl/portaldmc/movil/movil_inicio.php">
      <img style="width: 120px;" id="logo" src="../../assets/icon/DMC-logo.png" alt="logo" />
    </a>
  </div>
</body>

