<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <!-- Agrega el evento (ionInput) para manejar la entrada del usuario -->
    <ion-searchbar animated="true" placeholder="Nombre de la ciudad" (ionInput)="filtrarCiudades($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <!-- Itera sobre las ciudades filtradas en orden inverso -->
      <ion-item *ngFor="let ciudad of ciudadesFiltradas.slice().reverse()" (click)="seleccionarCiudad(ciudad)">
        {{ ciudad.nombre }}
      </ion-item>
    </ion-list>
</ion-content>
